/*
     Colors
     *******
    
     Black:    #
    
*/

/* -------------------------
     General Styles
   -------------------------*/
* {
    box-sizing: border-box;
}
html {
     -webkit-font-smoothing: antialiased;
     text-rendering: optimizelegibility;
}

body {
    background-color: #909090;
}

/* -------------------------
     Header
   -------------------------*/

.container {
    text-align: center;
    margin: 0 auto;
}

.computerimg {
    width: 4.25em;
    height: 4.25em;
}

.intro {
    margin-top: 2.18em;
}

.intro h1 {
    margin-top: 0.12em;
    margin-bottom: -0.13em;
}

h1 {
    font-family: 'Martel Sans', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
   }

h2 {
    font-family: 'Martel Sans', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    margin-top: -10px;
}

.intro > p {
    font-family: 'Martel Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
    margin-top: -10px;
}

/* -------------------------
     Reset list
   -------------------------*/

.resetcontainer {
  font-family: 'Martel Sans', sans-serif;
  font-weight: 400;
  font-size: 0.81em;
  left: 41.4em;
  line-height: 1.43em;
  margin-bottom: 1em;
  position: relative;
  text-align: left;
  width: 12.5em; 
}

/* -------------------------
     Text form groceries insertion
   -------------------------*/

.list-area-insertion input[type="text"] {
    /*background-color: green;*/
    width: 16em;
    height: 2em;
    margin: 0;
    padding: 0;
}

button[type="submit"] {
    background-color: #36d9bc;
    /*text-shadow: none;*/
    width: 4em;
    height: 2em;
    border-left-width: 0;
    margin: 0;
    padding: 0;
    border-style: none;
}

   /* -------------------------
        To do list items
   -------------------------*/

ul, li {
    list-style: none;
    padding-left: 0;
}

li {
    border: 1px solid #000;
    background-color: white;
    height: 1.5em;
    margin: 0 auto;
    margin-top: 10px;
    width: 14em;
}

button .fa-check-square-o {
    color: #36d9bc; 
    position: relative;
    right: 6.7em;
    top: 2px;
}

.to-do p {
  bottom: 1.87em;
  color: #666666;
  position: relative;
}

   /* -------------------------
        Completed list items
   -------------------------*/

.list-area-completed li {
    background-color: #36d9bc;
}

button .fa-circle {
    border-style: none;
    background-color: none;
    color: #575757; 
    position: relative;
    right: 6.7em;
    top: 2px;
}

.completed p {
  bottom: 1.87em;
  color: #666666;
  position: relative;
}